version: '3.8'
services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile-backend
    ports:
      - "3000:3000"
    depends_on:
      - database
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend

  database:
    image: mysql:8
    container_name: database
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=etodo
      - MYSQL_USER=user
      - MYSQL_PASSWORD=password
      
    volumes:
      - db_data:/var/lib/mysql
      - ./e-todo.sql:/docker-entrypoint-initdb.d/e-todo.sql
    
volumes:
  db_data:


